<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: black;">
    <ul class="navbar-nav ">
        <li class="nav-item">
            <a routerLink="trainingSessions" routerLinkActive="active" class="nav-link">Training Session List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-training-session" routerLinkActive="active" class="nav-link">Create Training Session</a>
        </li>
        <li class="nav-item">
            <a routerLink="trainers" routerLinkActive="active" class="nav-link">Trainer List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-trainer" routerLinkActive="active" class="nav-link">Add Trainer</a>
        </li>
        <li class="nav-item">
            <a routerLink="virtualMachines" routerLinkActive="active" class="nav-link">Virtual Machines List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-virtual-machines" routerLinkActive="active" class="nav-link">Add Virtual Machines</a>
        </li>

    </ul>
</nav>

<h1 class="text-center" style="color: white;">{{title}}</h1>
<div class="container">
    
    <router-outlet></router-outlet>
    <!--<router-outlet></router-outlet>-->
</div>
<footer class="footer">
    <div class="container">
        <span>
            All Rights Reserved 2020 @IFS 
        </span>

    </div>
</footer>